 <h1 rel="stylesheet">Contact Seller</h1>
    <br>
    <section class="box">
        <form action="https://formspree.io/jawehner.com" method="POST">
          <div>
              <label class="entries">Your Name</label>
              <input type="email" placeholder="Enter Your Name" required
                data-validation-required-message="Please enter your name" name="name">
              <p class="help-block text-danger"></p>
          </div>
          <div>
            <label class="entries">Email Address</label>
              <input type="email" placeholder="Enter Your Email" required
                data-validation-required-message="Please Enter Your Email" name="_replyto">
              <p class="help-block text-danger"></p>
          </div>
          <div>
            <label class="entries">Name of Product</label>
              <input type="email" placeholder="Enter Name of Product" required
                data-validation-required-message="Please Name of Product" name="_replyto">
              <p class="help-block text-danger"></p>
          </div>
          <div>
              <textarea class="form-control" rows="7" placeholder="Enter Your Message" id="message" required
                data-validation-required-message="Please leave a message" name="message"></textarea>
              <p class="help-block text-danger"></p>
          </div>
          <div>
            <button mat-raised-button type="submit" class="nav-btn">
              Send Message
            </button>
          </div>
        </form>
    </section>
