<mat-toolbar color="primary">
  <a mat-button routerLink="" >Retro Machines</a>
  <span class="example-fill-remaining-space"></span>
  <button mat-raised-button class="nav-btn2" id="wishlist" mat-raised-button routerLink="/wishlist">Wishlist</button>
  <button mat-raised-button class="nav-btn" routerLink="/register">Register</button>
  <button mat-raised-button class="nav-btn" routerLink="/login">Login</button>
  <button mat-raised-button class="nav-btn" id="logout" mat-stroked-button (click)="onLoggout()">Logout</button>
</mat-toolbar>