<div style="text-align:center">
  <h1 id="welcome" class=header>
    Welcome to {{ title }}!
  </h1>
  <nav>
      <a mat-button routerLink="products" id="ahome">View All Machines</a>
  </nav>
  <br>
  <p class="pics" id="picz"><a href="http://localhost:4200/products"><img width="500" alt="Arcade1" src="../assets/ASTEROIDS.PNG" style="background-color: rgba(0,0,0,0.0)">
  <img width="500" alt="Arcade1" src="../assets/TRON.PNG" style="background-color: rgba(0,0,0,0.0)">
  <img width="500" alt="Angular Logo" src="../assets/LETHAL.PNG" style="background-color: rgba(0,0,0,0.0)"></a></p>
</div>