<h1>Index</h1>
<a mat-raised-button color="primary">Create New</a>
<hr>

<div>
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>
  <ng-container matColumnDef="UserId">
    <mat-header-cell *matHeaderCellDef class="matColumnSize"></mat-header-cell>
    <mat-cell *matCellDef="let product"> <i class="material-icons">pinball_machine</i></mat-cell>
  </ng-container>
  <ng-container matColumnDef="Name">
    <mat-header-cell *matHeaderCellDef class="matColumnSize"></mat-header-cell>
    <mat-cell *matCellDef="let product"> <i class="material-icons">pinball_machine</i></mat-cell>
  </ng-container>
  </mat-table>
</div>
