<h1>Delete Your Product</h1>
<h4>Are you sure you want to delete this product?</h4>

<hr>
<div *ngIf="product">
    <div>
      <label for="">Name:</label>
      <span>{{product.name}}</span>
    </div>
    <div>
      <label for="">Type:</label>
      <span>{{product.type}}</span>
      </div>
    <div>
        <label for="">Condition:</label>
        <span>{{product.condition}}</span>
    </div>
    <div>
        <label for="">Year:</label>
        <span>{{product.year}}</span>
    </div>
</div>
  
  <button mat-button color="warn" (click)="onDelete()">Delete</button>
  <button mat-button color="primary" routerLink="/products">Back to List</button>