<h1>Details</h1>
<hr>
<section class="box">
<div *ngIf="product">
  <div>
    <label for="">name:</label>
    <span>{{product.name}}</span>
  </div>
  <div>
    <label for="">Type:</label>
    <span>{{product.type}}</span>
  </div>
  <div>
    <label for="">Condition:</label>
    <span>{{product.condition}}</span>
  </div>
  <div>
    <label for="">Year:</label>
    <span>{{product.year}}</span>
  </div>
  <div>
      <label for="">Seller:</label>
      <span>{{product.userName}}</span>
  </div>
</div>
<!-- need to place FormSpree link below  -->
<button mat-button color="primary" routerLink="/products">Back to List</button>
<div *ngIf="product.ownerId == userId">
    <i mat-icon class="material-icons" routerLink="/products/edit/{{product.productEntityId}}">edit</i>
    <i mat-icon class="material-icons" routerLink="/products/delete/{{product.productEntityId}}">delete</i>
  </div>
</section>
<!-- <button *ngIf="product" mat-button color="accent" routerLink="/products/edit/{{product.productEntityId}}">Edit</button> -->
